html, body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', -apple-system, sans-serif;
  font-size: 16px;
  color: #23342F;
  height: 100%;
}

/************
Layout
*************/

a { text-decoration: none; }

.wrapper { padding: 0 10%; }
.clearfix { clear: both; }

header {
  background-image: linear-gradient(-189deg, #1A3F47 0%, #1A4733 100%);
  height: 60px;
  padding: 0 45px;
}

header .logo a img {
  width: 92px;
  margin-top: 14px;
  transition: opacity 0.1s ease-in-out;
}

header .logo a:hover img {
  opacity: 0.7;
}

nav.menu ul {
  list-style-type: none;
  display: flex;
  float: right;
  margin-top: 21px;
  font-size: 15px;
}

nav.menu ul li a {
  color: white;
  display: block;
  margin-left: 30px;
  transition: color 0.1s ease-in-out;
}

nav.menu ul li a.active,
nav.menu ul li a:hover {
  color: #86ACAD;
}

section.intro {
  text-align: center;
  margin-top: 60px;
}

/************
Home
*************/

.intro .logo a img.logo {
  width: 212px;
  height: 75px;
}

.intro h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

a.button {
  background-image: linear-gradient(-208deg, #1A3F47 0%, #1A4733 100%);
  box-shadow: 0 1px 6px 2px rgba(0,0,0,0.06);
  border-radius: 2px;
  color: white !important;
  padding: 8px 17px;
  transition: all 0.1s ease-in-out;
}

a.button:hover {
  background-image: linear-gradient(-208deg, #286951 0%, #286951 100%);
}

a.button.github {
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCF8F8 100%);
  border: 1px solid #E3E3E3;
  box-shadow: 0 0 13px 0 rgba(0,0,0,0.06);
  color: #373737 !important;
  font-weight: 600;
}

a.button.github img { width: 17px; padding-right: 7px; vertical-align: -2px;}
a.button.github:hover { background: white; }

a.button + a.button {
  margin-left: 13px;
}

section.features {
  margin-top: 100px;
}

.features .list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.features h2 {
  font-size: 27px;
  font-weight: normal;
  text-align: center;
}

.feature {
  float: left;
  width: 25%;
  padding: 0 4%;
  margin-bottom: 30px;
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.feature p {
  margin-top: 6px;
  font-size: 17px;
}

.feature img {
  max-height: 60px;
}

a.tutorial img,
a.issue img,
a.license img { height: 17px; vertical-align: -3px; padding-right: 5px; }

/************
Docoumentation pages
*************/

body.documentation header.wrapper {
  padding: 0 45px;
}

body.documentation section.doc {
  margin-left: 325px;
  width: 50%;
  padding-left: 7%;
  padding-top: 20px;
}

nav.sidebar {
  width: 25%;
  max-width: 325px;
  padding-left: 45px;
  background: #F8F8F8;
  float: left;
  height: 100%;
  padding-top: 40px;
}

nav.sidebar h3 {
  font-size: 20px;
}

nav.sidebar ul {
  list-style-type: none;
  padding: 0;
}

nav.sidebar ul li a {
  display: block;
  font-size: 16px;
  color: #23342F;
  transition: opacity 0.1s ease-in-out;
  margin: 7px 0;
}

nav.sidebar ul li a.active {
  font-weight: bold;
}

nav.sidebar ul li a:hover {
  opacity: 0.7;
}

/************
Documentation
*************/

section.doc {
  padding-bottom: 80px;
}

section.doc .colleft,
section.doc .colright {
  float: left;
  width: 44%;
}

section.doc .colleft {
  margin-right: 3%;
}

section.doc .colright {
  margin-left: 3%;
}

section.doc h2 {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

section.doc h2::after {
   content: '';
   display: block;
   position: absolute;
   bottom: -5px;
   width: 40%;
   border-bottom: 3px solid #23342F;
}

section.doc p {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

section.doc a {
  color: #09AB82;
  transition: color 0.1s ease-in-out;
}

section.doc a:hover {
  color: #127C61;
}

section.doc a.next,
section.doc a.previous {
  font-weight: 600;
  margin-top: 40px;
}

section.doc a.next { float: right; }
section.doc a.previous { float: left; }

section.doc a.next::before {
  content:"\2192";
  padding-right: 5px;
}

section.doc a.previous::before {
  content:"\2190";
  padding-right: 5px;
}

section.doc p code,
section.doc li code {
  color: #438680;
  background: #DEFFF7;
  font-family: 'Ubuntu Mono', monospace;
  padding: 2px 4px;
}

section.doc pre {
  background: #212F29;
  border-radius: 2px;
  padding: 20px;
  color: #DDE7DF;
  font-size: 15px;
  line-height: 19px;
  font-weight: normal;
  margin: 0;
  max-width: 800px;
  margin-top: 8px;
}

section.doc pre code {
  font-family: 'Ubuntu Mono', monospace;
}

section.doc p + h2,
section.doc pre + h2 {
  margin-top: 50px;
}
