.wizard ol {
  padding-left: 30px;
}

.wizard .question {
  margin: 35px 0;
}

.wizard .question h3 {
  margin: 0;
  margin-top: -5px;
  font-size: 17px;
  font-weight: normal;
  font-style: italic;
  padding-left: 15px;
}

.wizard .question .answers {
  font-size: 15px;
  margin-top: 15px;
  padding-left: 15px;
}
