.home-feature-grid {
  margin-top: 100px;
}

.home-feature-grid .list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  flex-wrap: wrap;
  margin-top: 60px;
}

.home-feature-grid h2 {
  font-size: 27px;
  font-weight: normal;
  text-align: center;
}

@media (max-width: 750px) {
  .home-feature-grid .list {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 400px) {
  .home-feature-grid .list {
    grid-template-columns: repeat(1, auto);
  }
}
