.feature {
  float: left;
  position: relative;
  width: 25%;
  padding: 0 4%;
  margin-bottom: 30px;
  text-align: center;
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.feature p {
  margin-top: 6px;
  font-size: 17px;
}

.feature img {
  display: block;
  margin: 0 auto;
  max-height: 60px;
}
