header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;

  background-image: linear-gradient(-189deg, #1a3f47 0%, #1a4733 100%);
  height: 60px;
  padding: 0 45px;
}

header .logo {
  margin-right: 3em;
}

header .logo a img {
  width: 92px;
  margin-top: 14px;
  transition: opacity 0.1s ease-in-out;
}

header .logo a:hover img {
  opacity: 0.7;
}

nav.menu {
  flex-grow: 1;
  max-width: 15em;
}

nav.menu ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  font-size: 15px;
}

nav.menu ul li a {
  color: white;
  display: block;
  transition: color 0.1s ease-in-out;
}

nav.menu ul li a.active,
nav.menu ul li a:hover {
  color: #86acad;
}
