.tutorial-sidebar {
  width: 240px;
  padding-left: 45px;
  background: #f8f8f8;
  padding-top: 40px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  flex-shrink: 0;
}

.tutorial-sidebar h3 {
  font-size: 20px;
}

.tutorial-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.tutorial-sidebar ul li a {
  display: block;
  font-size: 16px;
  color: #23342f;
  transition: opacity 0.1s ease-in-out;
  margin: 7px 0;
}

.tutorial-sidebar ul li a.active {
  font-weight: bold;
}

.tutorial-sidebar ul li a:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .tutorial-sidebar {
    width: 0px;
    padding-left: 0;
  }
}
